/*MOBILE VERSION*/
@media screen and (min-width: 320px) {

    #sidebar a {

        width: calc(100% / 3);
        
    }

    
    /*
    ***************
    *elementi generali
    ***************
    */

    /*span*/
    .equipaggiamento-container ul,
    .crew-container ul{
        padding: 10px;
    }

    /*
    ***************
    *destinazione
    ***************
    */

    /*Pianeti*/
    .destinazione{
        background-size: cover;
        background-position: 0px;
    }

    /*imposto un background per ogni pianeta*/
    .destinazione.giove{
        background-image: url("../img/planets/giove.png");
    }

    .destinazione.luna{
        background-image: url("../img/planets/luna.jpg");
        background-size: cover;
    }
    .destinazione.marte{
        background-image: url("../img/planets/marte.jpg");
    }

    .destinazione.venere{
        background-image: url("../img/planets/venere.jpg");
    }

    /*Stile nomi pianeti*/
    .destinazione span:nth-of-type(2){ 
        text-align: center;
        font-size: 1.8em;
        text-transform: uppercase;
        /*this font allows to clearly see planet nome over the background*/
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:white;
    }

    /*
    ***********************
    *equipaggiamento e crew
    ***********************
    */

    .equipaggiamento-container{
        width: 50%;
        float:left;
        margin-bottom: 30px;/*spazio tra descrizione e immagine successiva*/
    }


}

/*TABLET VERSION*/
@media (min-width: 576px) {

}

/*DESKTOP VERSION*/
@media (min-width: 1024px) {
 
    .main-container{
    
        width: calc(100% / 3);
    }

    .image-container,
    .destinazione,
    .equipaggiamento-container,
    .crew-container{
        width: 100%; 
    }

    /*altezza fissa e scrollabili*/
    .crew-container,
    .equipaggiamento-container{
        clear: both;
        height: 140px;
    }
    
    .equipaggiamento-container{
        margin-bottom: 0;/*spazio tra descrizione e immagine successiva*/
        
    }

    
}